
<div class="col-lg-4 offset-lg-4">
	<span class="titulo" style="color: #fff">Cadastro</span>
</div>

<div ng-controller='cadastroCtrl as cad' class="cadastro col-lg-4 offset-lg-4">
	{{cad.nome}}
	<div class="form-control">
		{{nome}}  
	</div>
	<div class="form-control">
		{{email}}  
	</div>
	<form ng-submit="cadastrar()" id="cadastro">
		<input class="form-control" type="text" ng-model="matricula" name="matricula" value="" placeholder="Digite sua matricula">
		<select ng-model="grade" class="form-control">
			<option value="Nova">
				Grade Nova
			</option>
			<option value="Antiga">
				Grade Antiga
			</option>
		</select>
		<button class="btn btn-success btn-cadastro"  type="submit">Cadastrar</button>
	</form>
</div>